TICKETSCLOUD_API_TOKEN=
TICKETSCLOUD_WIDGET_TOKEN=
TICKETSCLOUD_GRPC_ENDPOINT=simple.ticketscloud.com:443
TICKETSCLOUD_WIDGET_BASE_URL=https://ticketscloud.org/v1/widgets/common
TEP_API_URL=http://127.0.0.1:8787/v1
TEP_WIDGET_ID=14208
TEP_WIDGET_BASE_URL=https://teplohod.info
