[Unit]
Description=Run Daibilet Teplohod catalog sync every 12h
Requires=daibilet-tep-catalog-sync.service

[Timer]
OnBootSec=45min
OnUnitActiveSec=12h
Persistent=true
Unit=daibilet-tep-catalog-sync.service

[Install]
WantedBy=timers.target
